@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.border {
    border:3px solid black;
}

body {
    font-family:'Oswald','Roboto',sans-serif;
    background-color: #36A1D4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 900;
    font-size: 40px;
    margin-top:50px;
}

.container {
    width:900px;   
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top:50px;
    row-gap: 20px;
}

.round-counter {
    align-self: center;
    margin-top:15px;
}

.scoreboard,.results-box {
    padding:20px 0;
    align-self:center;
}

.btn-container {
    display:flex;
    justify-content: center;
    gap:15px;
}

.btn {
    padding:25px 0;
    color: black;
    font-weight: 900;
    font-size: larger;
    /*background-color: dodgerblue;*/
    width: 150px;
}

.btn:hover {
    /*background-color:rgb(0, 66, 132);*/
    background-color:black;
    color:white
}

.cpu-display {
    width:200px;
    height:100px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    align-self: center;
}